.footer{
    padding: 1rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100vw;

    &__div{ 
        display: flex;
        align-items: center;
        gap: 1rem;

        &--copy{
            font-size: 1rem;
            font-family: var(--titleFont);
            font-weight: 700;
            color: var(--yellow);
        }

        &--git, &--linked{
            font-size: 1rem;
            color: var(--yellow);
        }

        &--git:hover{
            scale: 150%;
        }

        &--linked:hover{
            scale: 150%;
        }
    }
    

    &__img{
        height: 2rem;
    }
}