.cocktails{
    padding: 1rem;
    overflow: scroll;
    height: 85vh;

    &__title{
        height: 8rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        &--title{
            width: 100%;
            color: var(--lightpurple);
            text-align: right;
            padding: 1rem;
            font-family: var(--titleFont);
            font-size: 3rem;
            border-bottom: solid 0.1rem var(--lightpurple);
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        row-gap: 2rem;
        gap: 2rem;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: stretch;
        }

        &-card{
                
            border: solid 0.05rem;
            border-bottom: solid 0.02rem var(--yellow);
            border-right: solid 0.02rem var(--yellow);
            padding: 0.2rem;
            width: 15.5rem;

            &-img{
                height: 15rem;
                width: 15rem;
            }

            &-title{
                font-size: 2rem;
                font-family: var(--titleFont);
                font-weight: SemiBold 600;
                font-style: Italic;
                text-align: left;
                color: var(--yellow);
                margin-top: 0.5rem;
                margin-left: 0.2rem;
                text-wrap: wrap;
            }
        }
    }
}

.marked{
    background-color: var(--yellow);
    border-bottom: solid 0.02rem black;
    border-right: solid 0.02rem black;
    padding: 0.2rem;
    color: black;
}
