<section class="favourites">
    <div class="favourites__title">
        <h2 class="favourites__title--title">Favourite cocktails</h2>
    </div>
    <span class="js-empty-list favourites__emptyList">Your favourite cocktails will appear here, go ahead - click one to add!</span>
    <ul class="favourites__list js-favouriteList"></ul>
    <button class="favourites__btn js-favourite-reset-btn">Reset Favourites</button>
    <p class="favourites__warning">This deletes all your favourites</p>
</section>