/*

@import 'components/code';
@import 'components/links';
@import 'pages/index';
*/

@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/search_bar';
@import 'layout/cocktail_card';
@import 'layout/footer';

.hidden{
    display: none;
}

.marked{
    background-color: var(--yellow);
    border: solid 0.2rem var(--darkblue);
    border-radius: 0.5rem;
}